In [1]:
import glob
import pandas as pd

extension = 'csv'
all_filenames = sorted([i for i in glob.glob('datasets/spotify/*.{}'.format(extension))])
# combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames])
combined_csv.drop(combined_csv.columns[combined_csv.columns.str.contains('unnamed',case = False)],axis = 1, inplace = True)
# display
print ("Number of Columns after data cleansing: %d"%len(combined_csv.columns))
print ("Number of rows after cleansing: %d"%combined_csv.title.count())
combined_csv.describe()
display(combined_csv)

Number of Columns after data cleansing: 3
Number of rows after cleansing: 7729

                             title       all_artists  popularity
0                      Tanssi Vaan  Karkkiautomaatti           1
1                No One Could Ever    Hudson Mohawke          11
2     Tangle Of Aspens (Intro Mix)        Der Mystic           0
3                2 Da Beat Ch'yall        Kris Kross          17
4       Goodbye (From "Horse Inn")      Joseph Locke           7
..                             ...               ...         ...
763      God Don't Need No Matches  Rev. James Moore           7
764  Canta coração (Canta corazon)       Marco Paulo           0
765    Never Hold A Candle To Love       Andrew Gold           1
766            What Am I Gonna Do?      Kenny Rogers           2
767             Little Drummer Boy       Nat Stuckey           0

[7729 rows x 3 columns]

In [2]:
combined_csv.rename(columns={'title':'title_spoty'}, inplace=True)

In [3]:
#drop repeated (title, artist)
combined_csv.drop_duplicates(subset = ['title_spoty','all_artists'], keep = 'first', inplace = True)
# display
print ("Number of Columns after data cleansing: %d"%len(combined_csv.columns))
print ("Number of rows after cleansing: %d"%combined_csv.title_spoty.count())
combined_csv.describe()

Number of Columns after data cleansing: 3
Number of rows after cleansing: 7715

        popularity
count  7715.000000
mean     10.180817
std      13.797372
min       0.000000
25%       0.000000
50%       4.000000
75%      16.000000
max      80.000000

In [4]:
# export to csv
combined_csv.to_csv("spotify_combined.csv", index=False, encoding='utf-8-sig')