In [1]:
import pandas as pd

In [2]:
# Elimina les columnes del dataFrame passades per param

def drop_specific_cols(df, cols):
    df = df.drop(cols,axis=1)
    return df

In [3]:
# csv to df of only 10.000 first songs
msd_df = pd.read_csv('./datasets/msd_reduced.csv', nrows=10000, index_col=0)

In [4]:
# csv to df
grammy_df = pd.read_csv('./datasets/grammy_reduced.csv', index_col=0)
billboard_df = pd.read_csv('./datasets/billboard_reduced.csv', index_col=0)
spotify_df = pd.read_csv('./datasets/combined_csv.csv', index_col=0)

In [5]:
# left joins for matches
new_df = pd.merge(msd_df, grammy_df, how='left', left_on=['title','artist_name'], right_on = ['nominee','artist'])
new_df = pd.merge(new_df, billboard_df, how='left', left_on=['title','artist_name'], right_on = ['song','artist'])
new_df = pd.merge(new_df, spotify_df, how='left', left_on=['title','artist_name'], right_on = ['title','all_artists'])

In [6]:
display(new_df)

,danceability,duration,end_of_fade_in,energy,key,loudness,mode,start_of_fade_out,tempo,time_signature,...,nominee,artist_x,workers,rank,song,artist_y,peak-rank,weeks-on-board,all_artists,popularity
0,0.0,252.05506,2.049,0.0,10,-4.829,0,236.635,87.002,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,156.55138,0.258,0.0,9,-10.555,1,148.660,150.778,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,138.97098,0.000,0.0,7,-2.060,1,138.971,177.768,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hudson Mohawke,11.0
3,0.0,145.05751,0.000,0.0,7,-4.654,1,138.687,87.433,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,514.29832,0.000,0.0,5,-7.806,0,506.717,140.035,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10004,0.0,247.58812,2.844,0.0,9,-7.104,1,239.653,92.986,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10005,0.0,264.54159,2.345,0.0,11,-11.198,0,248.662,117.421,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10006,0.0,310.36036,5.242,0.0,4,-4.759,1,303.769,127.948,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10007,0.0,376.73751,0.000,0.0,0,-12.313,1,376.738,126.017,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10008,0.0,330.29179,0.000,0.0,11,-7.008,0,316.250,116.122,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Creem una nova columna, e_grammy, que pren valors binaris 0 o 1 segons si la cançó ha guanyat un Grammy.
# Ojo perquè una cançó pot guanyar més d'un Grammy.
new_df['e_grammy'] = new_df['peak-rank'].notnull().astype('int')

# Solució: sumar aquelles files que tinguin mateixa key (title, artist_name)
new_df.groupby(['title', 'artist_name'])['e_grammy'].sum().reset_index()

,title,artist_name,e_grammy
0,Falling In Love Again (l'ange Bleu) En Anglais,Marlene Dietrich,0
1,'Geeft Niet_ Droogt Wel Weer Op',Herman Finkers,0
2,'Nfinu C'Agghionna,Mario Venuti,0
3,'O 'nnammurato mio,Gloriana,0
4,(Brazen) Weep (Junior's Vocal),Dee Robert,0
...,...,...,...
9995,Étnico Ma Non Troppo,Hevia,0
9996,Ó Gente Da Minha Terra (Live),Mariza,0
9997,Ó há-de Maria_ Ó há-de tão bela,Varios,0
9998,Özgür Çiçek,Nazan Öncel,0
9999,Überau du,Kisha,0

In [8]:
new_df.describe()

,danceability,duration,end_of_fade_in,energy,key,loudness,mode,start_of_fade_out,tempo,time_signature,rank,peak-rank,weeks-on-board,popularity,e_grammy
count,10009.0,10009.000000,10009.000000,10009.0,10009.000000,10009.000000,10009.000000,10009.000000,10009.000000,10009.000000,117.000000,117.000000,117.000000,4650.000000,10009.000000
mean,0.0,250.053261,0.791261,0.0,5.319113,-10.075916,0.668099,241.372463,123.741619,3.582975,71.965812,35.803419,13.923077,9.204086,0.011689
std,0.0,120.588557,1.915674,0.0,3.608304,5.203260,0.470919,118.657717,34.686759,1.199576,23.775143,30.683658,8.009858,13.140744,0.107489
min,0.0,2.585670,0.000000,0.0,0.000000,-52.839000,0.000000,2.586000,0.000000,0.000000,21.000000,1.000000,1.000000,0.000000,0.000000
25%,0.0,181.341590,0.000000,0.0,2.000000,-12.552000,0.000000,173.784000,97.580000,3.000000,49.000000,8.000000,8.000000,0.000000,0.000000
50%,0.0,229.041180,0.194000,0.0,5.000000,-8.903000,1.000000,220.601000,122.221000,4.000000,80.000000,31.000000,14.000000,3.000000,0.000000
75%,0.0,290.272200,0.427000,0.0,9.000000,-6.349000,1.000000,281.403000,144.104000,4.000000,94.000000,58.000000,19.000000,14.000000,0.000000
max,0.0,1797.694240,40.252000,0.0,11.000000,3.077000,1.000000,1786.070000,251.802000,7.000000,100.000000,99.000000,49.000000,80.000000,1.000000

In [9]:
new_df['is_billboard'] = new_df['peak-rank'].notnull().astype('int')

In [10]:
def billboard_success(m, s, is_billboard):
    if is_billboard:
        return (101 - m + s)
    else:
        return 0

In [11]:
# Per cada fila de la taula new_df, cridem la funció billboard_success amb els atributs seg. i guardem el valor computat a e_billboard
new_df['e_billboard'] = new_df.apply(lambda x: billboard_success(x['peak-rank'], x['weeks-on-board'],x['is_billboard']), axis=1)

In [12]:
display(new_df)

,danceability,duration,end_of_fade_in,energy,key,loudness,mode,start_of_fade_out,tempo,time_signature,...,rank,song,artist_y,peak-rank,weeks-on-board,all_artists,popularity,e_grammy,is_billboard,e_billboard
0,0.0,252.05506,2.049,0.0,10,-4.829,0,236.635,87.002,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0
1,0.0,156.55138,0.258,0.0,9,-10.555,1,148.660,150.778,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0
2,0.0,138.97098,0.000,0.0,7,-2.060,1,138.971,177.768,4,...,NaN,NaN,NaN,NaN,NaN,Hudson Mohawke,11.0,0,0,0.0
3,0.0,145.05751,0.000,0.0,7,-4.654,1,138.687,87.433,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0
4,0.0,514.29832,0.000,0.0,5,-7.806,0,506.717,140.035,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10004,0.0,247.58812,2.844,0.0,9,-7.104,1,239.653,92.986,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0
10005,0.0,264.54159,2.345,0.0,11,-11.198,0,248.662,117.421,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0
10006,0.0,310.36036,5.242,0.0,4,-4.759,1,303.769,127.948,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0
10007,0.0,376.73751,0.000,0.0,0,-12.313,1,376.738,126.017,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0
10008,0.0,330.29179,0.000,0.0,11,-7.008,0,316.250,116.122,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0

In [13]:
new_df.describe()

,danceability,duration,end_of_fade_in,energy,key,loudness,mode,start_of_fade_out,tempo,time_signature,rank,peak-rank,weeks-on-board,popularity,e_grammy,is_billboard,e_billboard
count,10009.0,10009.000000,10009.000000,10009.0,10009.000000,10009.000000,10009.000000,10009.000000,10009.000000,10009.000000,117.000000,117.000000,117.000000,4650.000000,10009.000000,10009.000000,10009.000000
mean,0.0,250.053261,0.791261,0.0,5.319113,-10.075916,0.668099,241.372463,123.741619,3.582975,71.965812,35.803419,13.923077,9.204086,0.011689,0.011689,0.924868
std,0.0,120.588557,1.915674,0.0,3.608304,5.203260,0.470919,118.657717,34.686759,1.199576,23.775143,30.683658,8.009858,13.140744,0.107489,0.107489,9.364614
min,0.0,2.585670,0.000000,0.0,0.000000,-52.839000,0.000000,2.586000,0.000000,0.000000,21.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,181.341590,0.000000,0.0,2.000000,-12.552000,0.000000,173.784000,97.580000,3.000000,49.000000,8.000000,8.000000,0.000000,0.000000,0.000000,0.000000
50%,0.0,229.041180,0.194000,0.0,5.000000,-8.903000,1.000000,220.601000,122.221000,4.000000,80.000000,31.000000,14.000000,3.000000,0.000000,0.000000,0.000000
75%,0.0,290.272200,0.427000,0.0,9.000000,-6.349000,1.000000,281.403000,144.104000,4.000000,94.000000,58.000000,19.000000,14.000000,0.000000,0.000000,0.000000
max,0.0,1797.694240,40.252000,0.0,11.000000,3.077000,1.000000,1786.070000,251.802000,7.000000,100.000000,99.000000,49.000000,80.000000,1.000000,1.000000,146.000000

In [14]:
new_df['popularity'] = new_df['popularity'].fillna(0)
new_df['e_spotify'] = 0
new_df.loc[new_df['popularity'] >= new_df['popularity'].quantile(0.75), 'e_spotify'] = 1
new_df.loc[new_df['popularity'] < new_df['popularity'].quantile(0.75), 'e_spotify'] = 0

In [15]:
# Eliminem columnes innecessàries per a estudiar les dades
cols = ['category', 'nominee', 'artist_x', 'workers', 'rank', 'song', 'artist_y', 'peak-rank', 'weeks-on-board', 'is_billboard', 'all_artists', 'popularity']
new_df = drop_specific_cols(new_df, cols)

In [16]:
display(new_df)

,danceability,duration,end_of_fade_in,energy,key,loudness,mode,start_of_fade_out,tempo,time_signature,artist_name,title,e_grammy,e_billboard,e_spotify
0,0.0,252.05506,2.049,0.0,10,-4.829,0,236.635,87.002,4,Faster Pussy cat,Silent Night,0,0.0,0
1,0.0,156.55138,0.258,0.0,9,-10.555,1,148.660,150.778,1,Karkkiautomaatti,Tanssi vaan,0,0.0,0
2,0.0,138.97098,0.000,0.0,7,-2.060,1,138.971,177.768,4,Hudson Mohawke,No One Could Ever,0,0.0,1
3,0.0,145.05751,0.000,0.0,7,-4.654,1,138.687,87.433,4,Yerba Brava,Si Vos Querés,0,0.0,0
4,0.0,514.29832,0.000,0.0,5,-7.806,0,506.717,140.035,4,Der Mystic,Tangle Of Aspens,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10004,0.0,247.58812,2.844,0.0,9,-7.104,1,239.653,92.986,4,Zeraphine,Lass mich gehen,0,0.0,0
10005,0.0,264.54159,2.345,0.0,11,-11.198,0,248.662,117.421,4,Sol Invictus,The Return,0,0.0,0
10006,0.0,310.36036,5.242,0.0,4,-4.759,1,303.769,127.948,4,Seal,If It's In My Mind_ It's On My Face (Album Ver...,0,0.0,0
10007,0.0,376.73751,0.000,0.0,0,-12.313,1,376.738,126.017,4,Poncho Sanchez,Sonando,0,0.0,0
10008,0.0,330.29179,0.000,0.0,11,-7.008,0,316.250,116.122,4,Eddy Meets Yannah,Solid Ground,0,0.0,0

In [17]:
new_df.describe()

,danceability,duration,end_of_fade_in,energy,key,loudness,mode,start_of_fade_out,tempo,time_signature,e_grammy,e_billboard,e_spotify
count,10009.0,10009.000000,10009.000000,10009.0,10009.000000,10009.000000,10009.000000,10009.000000,10009.000000,10009.000000,10009.000000,10009.000000,10009.000000
mean,0.0,250.053261,0.791261,0.0,5.319113,-10.075916,0.668099,241.372463,123.741619,3.582975,0.011689,0.924868,0.263763
std,0.0,120.588557,1.915674,0.0,3.608304,5.203260,0.470919,118.657717,34.686759,1.199576,0.107489,9.364614,0.440694
min,0.0,2.585670,0.000000,0.0,0.000000,-52.839000,0.000000,2.586000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,181.341590,0.000000,0.0,2.000000,-12.552000,0.000000,173.784000,97.580000,3.000000,0.000000,0.000000,0.000000
50%,0.0,229.041180,0.194000,0.0,5.000000,-8.903000,1.000000,220.601000,122.221000,4.000000,0.000000,0.000000,0.000000
75%,0.0,290.272200,0.427000,0.0,9.000000,-6.349000,1.000000,281.403000,144.104000,4.000000,0.000000,0.000000,1.000000
max,0.0,1797.694240,40.252000,0.0,11.000000,3.077000,1.000000,1786.070000,251.802000,7.000000,1.000000,146.000000,1.000000

In [18]:
# export to csv file
new_df.to_csv("successes10000_with_spotify.csv")