In [1]:
import pandas as pd

In [2]:
# Elimina les columnes del dataFrame passades per param

def drop_specific_cols(df, cols):
    df = df.drop(cols,axis=1)
    return df

In [3]:
# csv to df of only 10.000 first songs
msd_df = pd.read_csv('./datasets/msd_reduced.csv', nrows=36000, index_col=0)

In [4]:
# csv to df
grammy_df = pd.read_csv('./datasets/grammy_reduced.csv', index_col=0)
billboard_df = pd.read_csv('./datasets/billboard_reduced.csv', index_col=0)
spotify_df = pd.read_csv('./datasets/spotify_combined.csv', index_col=0)

In [5]:
# left joins for matches between msd and grammy
new_df = pd.merge(msd_df, grammy_df, how='left', left_on=['title','artist_name'], right_on = ['nominee','artist'])
# display matches
print ("Number of rows matched : %d"%new_df['nominee'].count())
new_df.describe()

Number of rows matched : 31

,danceability,duration,end_of_fade_in,energy,key,loudness,mode,start_of_fade_out,tempo,time_signature,prizes
count,36000.0,36000.000000,36000.000000,36000.0,36000.000000,36000.000000,36000.000000,36000.000000,36000.000000,36000.000000,31.000000
mean,0.0,249.261201,0.801210,0.0,5.314278,-10.114084,0.671250,240.421663,123.834423,3.596833,1.064516
std,0.0,125.084289,2.352931,0.0,3.590478,5.200930,0.469765,123.040659,34.994275,1.220518,0.249731
min,0.0,0.626490,0.000000,0.0,0.000000,-52.839000,0.000000,0.626000,0.000000,0.000000,1.000000
25%,0.0,181.341590,0.000000,0.0,2.000000,-12.641250,0.000000,173.543000,97.582750,3.000000,1.000000
50%,0.0,229.106485,0.194000,0.0,5.000000,-8.967000,1.000000,220.183000,122.015500,4.000000,1.000000
75%,0.0,288.704850,0.429000,0.0,9.000000,-6.381000,1.000000,278.767000,144.252750,4.000000,1.000000
max,0.0,3029.080360,206.129000,0.0,11.000000,4.066000,1.000000,2999.583000,253.887000,7.000000,2.000000

In [6]:
new_df = pd.merge(new_df, billboard_df, how='left', left_on=['title','artist_name'], right_on = ['song','artist'])
print ("Number of rows matched : %d"%new_df['song'].count())
new_df.describe()

Number of rows matched : 437

,danceability,duration,end_of_fade_in,energy,key,loudness,mode,start_of_fade_out,tempo,time_signature,prizes,rank,peak-rank,weeks-on-board
count,36000.0,36000.000000,36000.000000,36000.0,36000.000000,36000.000000,36000.000000,36000.000000,36000.000000,36000.000000,31.000000,437.000000,437.000000,437.000000
mean,0.0,249.261201,0.801210,0.0,5.314278,-10.114084,0.671250,240.421663,123.834423,3.596833,1.064516,73.292906,35.011442,14.217391
std,0.0,125.084289,2.352931,0.0,3.590478,5.200930,0.469765,123.040659,34.994275,1.220518,0.249731,23.903404,30.765424,8.410395
min,0.0,0.626490,0.000000,0.0,0.000000,-52.839000,0.000000,0.626000,0.000000,0.000000,1.000000,20.000000,1.000000,1.000000
25%,0.0,181.341590,0.000000,0.0,2.000000,-12.641250,0.000000,173.543000,97.582750,3.000000,1.000000,49.000000,7.000000,8.000000
50%,0.0,229.106485,0.194000,0.0,5.000000,-8.967000,1.000000,220.183000,122.015500,4.000000,1.000000,81.000000,25.000000,14.000000
75%,0.0,288.704850,0.429000,0.0,9.000000,-6.381000,1.000000,278.767000,144.252750,4.000000,1.000000,95.000000,62.000000,20.000000
max,0.0,3029.080360,206.129000,0.0,11.000000,4.066000,1.000000,2999.583000,253.887000,7.000000,2.000000,100.000000,100.000000,58.000000

In [7]:
new_df = pd.merge(new_df, spotify_df, how='left', left_on=['title','artist_name'], right_on = ['title_spoty','all_artists'])
print ("Number of rows matched : %d"%new_df['popularity'].count())
new_df.describe()

Number of rows matched : 14801

,danceability,duration,end_of_fade_in,energy,key,loudness,mode,start_of_fade_out,tempo,time_signature,prizes,rank,peak-rank,weeks-on-board,popularity
count,36000.0,36000.000000,36000.000000,36000.0,36000.000000,36000.000000,36000.000000,36000.000000,36000.000000,36000.000000,31.000000,437.000000,437.000000,437.000000,14801.000000
mean,0.0,249.261201,0.801210,0.0,5.314278,-10.114084,0.671250,240.421663,123.834423,3.596833,1.064516,73.292906,35.011442,14.217391,9.260523
std,0.0,125.084289,2.352931,0.0,3.590478,5.200930,0.469765,123.040659,34.994275,1.220518,0.249731,23.903404,30.765424,8.410395,13.160104
min,0.0,0.626490,0.000000,0.0,0.000000,-52.839000,0.000000,0.626000,0.000000,0.000000,1.000000,20.000000,1.000000,1.000000,0.000000
25%,0.0,181.341590,0.000000,0.0,2.000000,-12.641250,0.000000,173.543000,97.582750,3.000000,1.000000,49.000000,7.000000,8.000000,0.000000
50%,0.0,229.106485,0.194000,0.0,5.000000,-8.967000,1.000000,220.183000,122.015500,4.000000,1.000000,81.000000,25.000000,14.000000,3.000000
75%,0.0,288.704850,0.429000,0.0,9.000000,-6.381000,1.000000,278.767000,144.252750,4.000000,1.000000,95.000000,62.000000,20.000000,14.000000
max,0.0,3029.080360,206.129000,0.0,11.000000,4.066000,1.000000,2999.583000,253.887000,7.000000,2.000000,100.000000,100.000000,58.000000,81.000000

In [8]:
display(new_df)

,danceability,duration,end_of_fade_in,energy,key,loudness,mode,start_of_fade_out,tempo,time_signature,...,nominee,artist_x,prizes,rank,song,artist_y,peak-rank,weeks-on-board,all_artists,popularity
0,0.0,252.05506,2.049,0.0,10,-4.829,0,236.635,87.002,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0.0,156.55138,0.258,0.0,9,-10.555,1,148.660,150.778,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0.0,138.97098,0.000,0.0,7,-2.060,1,138.971,177.768,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Hudson Mohawke,11.0
3,0.0,145.05751,0.000,0.0,7,-4.654,1,138.687,87.433,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0.0,514.29832,0.000,0.0,5,-7.806,0,506.717,140.035,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35995,0.0,208.45669,0.000,0.0,9,-15.338,1,190.537,120.720,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35996,0.0,211.40853,0.000,0.0,4,-7.072,1,207.325,114.229,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35997,0.0,228.17914,0.293,0.0,11,-6.728,1,223.742,130.931,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35998,0.0,98.76853,0.490,0.0,11,-7.962,1,98.769,196.265,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35999,0.0,389.56363,0.000,0.0,10,-11.437,0,383.803,156.948,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Creem una nova columna, e_grammy, que pren valors binaris 0 o 1 segons si la cançó ha guanyat un Grammy.
# Ojo perquè una cançó pot guanyar més d'un Grammy.
new_df['e_grammy'] = new_df['nominee'].notnull().astype('int')

In [10]:
new_df.describe()

,danceability,duration,end_of_fade_in,energy,key,loudness,mode,start_of_fade_out,tempo,time_signature,prizes,rank,peak-rank,weeks-on-board,popularity,e_grammy
count,36000.0,36000.000000,36000.000000,36000.0,36000.000000,36000.000000,36000.000000,36000.000000,36000.000000,36000.000000,31.000000,437.000000,437.000000,437.000000,14801.000000,36000.000000
mean,0.0,249.261201,0.801210,0.0,5.314278,-10.114084,0.671250,240.421663,123.834423,3.596833,1.064516,73.292906,35.011442,14.217391,9.260523,0.000861
std,0.0,125.084289,2.352931,0.0,3.590478,5.200930,0.469765,123.040659,34.994275,1.220518,0.249731,23.903404,30.765424,8.410395,13.160104,0.029332
min,0.0,0.626490,0.000000,0.0,0.000000,-52.839000,0.000000,0.626000,0.000000,0.000000,1.000000,20.000000,1.000000,1.000000,0.000000,0.000000
25%,0.0,181.341590,0.000000,0.0,2.000000,-12.641250,0.000000,173.543000,97.582750,3.000000,1.000000,49.000000,7.000000,8.000000,0.000000,0.000000
50%,0.0,229.106485,0.194000,0.0,5.000000,-8.967000,1.000000,220.183000,122.015500,4.000000,1.000000,81.000000,25.000000,14.000000,3.000000,0.000000
75%,0.0,288.704850,0.429000,0.0,9.000000,-6.381000,1.000000,278.767000,144.252750,4.000000,1.000000,95.000000,62.000000,20.000000,14.000000,0.000000
max,0.0,3029.080360,206.129000,0.0,11.000000,4.066000,1.000000,2999.583000,253.887000,7.000000,2.000000,100.000000,100.000000,58.000000,81.000000,1.000000

In [11]:
count = (new_df['e_grammy'] != 0).sum()
print(count)

31

In [12]:
#yay!

In [13]:
new_df['is_billboard'] = new_df['peak-rank'].notnull().astype('int')

In [14]:
def billboard_success(m, s, is_billboard):
    if is_billboard:
        return (101 - m + s)
    else:
        return 0

In [15]:
# Per cada fila de la taula new_df, cridem la funció billboard_success amb els atributs seg. i guardem el valor computat a e_billboard
new_df['e_billboard'] = new_df.apply(lambda x: billboard_success(x['peak-rank'], x['weeks-on-board'],x['is_billboard']), axis=1)

In [16]:
display(new_df)

,danceability,duration,end_of_fade_in,energy,key,loudness,mode,start_of_fade_out,tempo,time_signature,...,rank,song,artist_y,peak-rank,weeks-on-board,all_artists,popularity,e_grammy,is_billboard,e_billboard
0,0.0,252.05506,2.049,0.0,10,-4.829,0,236.635,87.002,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0
1,0.0,156.55138,0.258,0.0,9,-10.555,1,148.660,150.778,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0
2,0.0,138.97098,0.000,0.0,7,-2.060,1,138.971,177.768,4,...,NaN,NaN,NaN,NaN,NaN,Hudson Mohawke,11.0,0,0,0.0
3,0.0,145.05751,0.000,0.0,7,-4.654,1,138.687,87.433,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0
4,0.0,514.29832,0.000,0.0,5,-7.806,0,506.717,140.035,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35995,0.0,208.45669,0.000,0.0,9,-15.338,1,190.537,120.720,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0
35996,0.0,211.40853,0.000,0.0,4,-7.072,1,207.325,114.229,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0
35997,0.0,228.17914,0.293,0.0,11,-6.728,1,223.742,130.931,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0
35998,0.0,98.76853,0.490,0.0,11,-7.962,1,98.769,196.265,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0
35999,0.0,389.56363,0.000,0.0,10,-11.437,0,383.803,156.948,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0.0

In [17]:
new_df.describe()

,danceability,duration,end_of_fade_in,energy,key,loudness,mode,start_of_fade_out,tempo,time_signature,prizes,rank,peak-rank,weeks-on-board,popularity,e_grammy,is_billboard,e_billboard
count,36000.0,36000.000000,36000.000000,36000.0,36000.000000,36000.000000,36000.000000,36000.000000,36000.000000,36000.000000,31.000000,437.000000,437.000000,437.000000,14801.000000,36000.000000,36000.000000,36000.000000
mean,0.0,249.261201,0.801210,0.0,5.314278,-10.114084,0.671250,240.421663,123.834423,3.596833,1.064516,73.292906,35.011442,14.217391,9.260523,0.000861,0.012139,0.973611
std,0.0,125.084289,2.352931,0.0,3.590478,5.200930,0.469765,123.040659,34.994275,1.220518,0.249731,23.903404,30.765424,8.410395,13.160104,0.029332,0.109507,9.681117
min,0.0,0.626490,0.000000,0.0,0.000000,-52.839000,0.000000,0.626000,0.000000,0.000000,1.000000,20.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,181.341590,0.000000,0.0,2.000000,-12.641250,0.000000,173.543000,97.582750,3.000000,1.000000,49.000000,7.000000,8.000000,0.000000,0.000000,0.000000,0.000000
50%,0.0,229.106485,0.194000,0.0,5.000000,-8.967000,1.000000,220.183000,122.015500,4.000000,1.000000,81.000000,25.000000,14.000000,3.000000,0.000000,0.000000,0.000000
75%,0.0,288.704850,0.429000,0.0,9.000000,-6.381000,1.000000,278.767000,144.252750,4.000000,1.000000,95.000000,62.000000,20.000000,14.000000,0.000000,0.000000,0.000000
max,0.0,3029.080360,206.129000,0.0,11.000000,4.066000,1.000000,2999.583000,253.887000,7.000000,2.000000,100.000000,100.000000,58.000000,81.000000,1.000000,1.000000,156.000000

In [18]:
count_b = (new_df['e_billboard'] != 0).sum()
print(count_b)

437

In [19]:
new_df['popularity'] = new_df['popularity'].fillna(0)
new_df['e_spotify'] = 0
new_df.loc[new_df['popularity'] >= new_df['popularity'].quantile(0.75), 'e_spotify'] = 1
new_df.loc[new_df['popularity'] < new_df['popularity'].quantile(0.75), 'e_spotify'] = 0

In [20]:
count_s = (new_df['e_spotify'] != 0).sum()
print(count_s)

9794

In [21]:
# Eliminem columnes innecessàries per a estudiar les dades
cols = [ 'nominee', 'artist_x', 'rank', 'song', 'artist_y', 'peak-rank', 'weeks-on-board', 'is_billboard', 'all_artists', 'popularity', 'prizes']
new_df = drop_specific_cols(new_df, cols)

In [22]:
display(new_df)

,danceability,duration,end_of_fade_in,energy,key,loudness,mode,start_of_fade_out,tempo,time_signature,artist_name,title,e_grammy,e_billboard,e_spotify
0,0.0,252.05506,2.049,0.0,10,-4.829,0,236.635,87.002,4,Faster Pussy cat,Silent Night,0,0.0,0
1,0.0,156.55138,0.258,0.0,9,-10.555,1,148.660,150.778,1,Karkkiautomaatti,Tanssi vaan,0,0.0,0
2,0.0,138.97098,0.000,0.0,7,-2.060,1,138.971,177.768,4,Hudson Mohawke,No One Could Ever,0,0.0,1
3,0.0,145.05751,0.000,0.0,7,-4.654,1,138.687,87.433,4,Yerba Brava,Si Vos Querés,0,0.0,0
4,0.0,514.29832,0.000,0.0,5,-7.806,0,506.717,140.035,4,Der Mystic,Tangle Of Aspens,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35995,0.0,208.45669,0.000,0.0,9,-15.338,1,190.537,120.720,4,Biosphere,Chromosphere,0,0.0,0
35996,0.0,211.40853,0.000,0.0,4,-7.072,1,207.325,114.229,4,Jetplane Landing,Writing The Ways Down,0,0.0,0
35997,0.0,228.17914,0.293,0.0,11,-6.728,1,223.742,130.931,1,Root,Hrbitov,0,0.0,0
35998,0.0,98.76853,0.490,0.0,11,-7.962,1,98.769,196.265,1,Lagwagon,Noble End,0,0.0,0
35999,0.0,389.56363,0.000,0.0,10,-11.437,0,383.803,156.948,1,Geraldo Pino & The Heartbeats,Right in the Centre,0,0.0,0

In [23]:
new_df.describe()

,danceability,duration,end_of_fade_in,energy,key,loudness,mode,start_of_fade_out,tempo,time_signature,e_grammy,e_billboard,e_spotify
count,36000.0,36000.000000,36000.000000,36000.0,36000.000000,36000.000000,36000.000000,36000.000000,36000.000000,36000.000000,36000.000000,36000.000000,36000.000000
mean,0.0,249.261201,0.801210,0.0,5.314278,-10.114084,0.671250,240.421663,123.834423,3.596833,0.000861,0.973611,0.272056
std,0.0,125.084289,2.352931,0.0,3.590478,5.200930,0.469765,123.040659,34.994275,1.220518,0.029332,9.681117,0.445025
min,0.0,0.626490,0.000000,0.0,0.000000,-52.839000,0.000000,0.626000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,181.341590,0.000000,0.0,2.000000,-12.641250,0.000000,173.543000,97.582750,3.000000,0.000000,0.000000,0.000000
50%,0.0,229.106485,0.194000,0.0,5.000000,-8.967000,1.000000,220.183000,122.015500,4.000000,0.000000,0.000000,0.000000
75%,0.0,288.704850,0.429000,0.0,9.000000,-6.381000,1.000000,278.767000,144.252750,4.000000,0.000000,0.000000,1.000000
max,0.0,3029.080360,206.129000,0.0,11.000000,4.066000,1.000000,2999.583000,253.887000,7.000000,1.000000,156.000000,1.000000

In [24]:
# export to csv file
new_df.to_csv("successes10000_with_spotify.csv")